.ico-email {
    background: url("../imagens/Email.gif") no-repeat;
 
}

.ico-seg {
    background: url("../imagens/seg.png") no-repeat;
 
}

.ico-empresa {
    background: url("../imagens/empresa.png") no-repeat;
 
}

.ico-visao {
    background: url("../imagens/visao.png") no-repeat;
 
}

.ico-missao{
	background: url("../imagens/objetivos.png") no-repeat;
}

.ico-parca{
	background: url("../imagens/parc.png") no-repeat;
}

.ico-qualidade{
	background: url("../imagens/qualidade.png") no-repeat;
}

.ico-sus{
	background: url("../imagens/sustentabilidade.png") no-repeat;
}

.ico-talentos{
	background: url("../imagens/talentos.png") no-repeat;
}

.ico-trans{
	background: url("../imagens/transparencia.png") no-repeat;
}

.ico-cat-servico{
	background: url("../imagens/cat-servico.png") no-repeat;
}


.ico-objetivos{
	background: url("../imagens/objetivos.png") no-repeat;
}

.ico-beneficios{
	background: url("../imagens/beneficios.png") no-repeat;
}

.ico-bem-empresa{
	background: url("../imagens/bem-empresa.png") no-repeat;
}

.ico-csti{
	background: url("../imagens/csti.png") no-repeat;
}

.ico-chamados{
	background: url("../imagens/chamados.png") no-repeat;
}

.ico-atendimento{
	background: url("../imagens/atendimento.png") no-repeat;
}

.ico-glpi{
	background: url("../imagens/glpi.png") no-repeat;
}

.ico-fone{
	background: url("../imagens/fone.png") no-repeat;
}

.ico-laptop{
	background: url("../imagens/laptop.png") no-repeat;
}

.ico-pc{
	background: url("../imagens/pc.png") no-repeat;
}

.ico-fax{
	background: url("../imagens/fax.png") no-repeat;
}

.ico-net{
	background: url("../imagens/net.png") no-repeat;
}

.ico-plugs{
	background: url("../imagens/plugs.png") no-repeat;
}

.ico-eventos{
	background: url("../imagens/reu.png") no-repeat;
}

.ico-programas{
	background: url("../imagens/programas.png") no-repeat;
}

.ico-impressao{
	background: url("../imagens/printer.png") no-repeat;
}

.ico-wifi{
	background: url("../imagens/wifi.png") no-repeat;
}



